# OS
.DS_Store

# Python
*.pyc
*.pyo

# Common IDEs
*.swp
.idea/
other/
.buildpath
.project
atlassian-ide-plugin.xml

# Project
local_settings.py

media/
# Project database
*.db

touch_reload
bower_components
